#header2{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    // font-family: 'Roboto Slab'

}

mat-card {
    max-height: 600px;
    height: 400px;
    overflow-y: hidden;
    padding-bottom: 3rem;
    mat-card-header {
        font-size: xx-large;
    }
    mat-card-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            justify-content: space-between;
        }
        font-size: large;
    }
    
}